##### NO BINARIES
*.a
*.o
*.lo
*.la
*.slo
.deps
Makefile
Makefile.in

*/INSTALL
*/aclocal.m4
*/ar-lib
*/autom4te.cache
*/config.h
*/config.h.in
*/config.h.in~
*/config.log
*/config.status
*/config.guess
*/config.sub
*/configure
*/depcomp
*/install-sh
*/missing
*/mahimahi-*.tar.gz
*/stamp-h1
*/libtool
*/ltmain.sh

*/compile
*/src/protobufs/http_record.pb.cc
*/src/protobufs/http_record.pb.h
*/src/frontend/mm-delay
*/src/frontend/mm-loss
*/src/frontend/mm-link
*/src/frontend/mm-onoff
*/src/frontend/mm-intermittent
*/src/frontend/mm-meter
*/src/frontend/mm-webrecord
*/src/frontend/mm-webreplay
*/src/frontend/mm-replayserver
*/src/frontend/.libs



*.log
*.svg
*.txt
*.pdf
.vscode/
.DS_Store

*/tmp/
*/out*/


##### Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

###### vim

# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# Session
Session.vim

# Temporary
.netrwhist
*~

# Auto-generated tag files
tags